@model HomeRegisterForm
@{
}
<div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate)
            @Html.EditorFor(m => m.BirthDate, new { htmlAttributes = new { @class = "form-control" }})
            @Html.ValidationMessageFor(m => m.BirthDate, null, new {@class="text-danger"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country)
            @Html.EditorFor(m => m.Country, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Country, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
        </div>
        <div class="btn-group">
            <button class="btn btn-success">Enregistrer</button>
            @Html.ActionLink("Annuler",nameof(Index),"Home",null,new {@class="btn btn-danger"})
        </div>
    }
</div>